{% set title = "Lucid"%}
{% extends 'layout.html' %} {% block page_content %}

<!-- Page Content section -->
<div id="content">
  <!-- nav bar here -->
    <ul class="nav justify-content-end">
      <li class="nav-item">
          <a class="nav-link" href="#">
              <button type="button" id="sidebarCollapse" class="btn btn-info top-toggle">
                  <i class="fas fa-align-left"></i>
              </button>
          </a>
      </li>

      {% if user.role == 'admin' %}
      <li class="nav-item ml-auto">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">
              <span class="dotted">...</span>
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="/settings">SETTINGS</a>
              <a class="dropdown-item" href="/logout">LOGOUT</a>
          </div>
      </li>
      {% elseif user.role == 'guest' %}
      <li class="nav-item ml-auto">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">
              <span class="dotted">...</span>
          </a>
          <div class="dropdown-menu">
              <span class="dropdown-item">You are logged in as guest</span>
              <a class="dropdown-item" href="/logout">LOGOUT</a>
          </div>
      </li>
      {% else %}
      <li class="nav-item ml-auto">
          <span class="nav-item" data-toggle="modal" data-target="#modalLoginForm">LOGIN</span>
      </li>
      {% endif %}
  </ul>
 
  <!-- editor -->
  <div class="row">
    <div class="col-12">
      <!-- <div id="editor"></div> -->
    </div>
  </div>
  <!-- Feed listing -->
  <div class="row">
    <div class="col-12">
      {% for feed in posts %}
      {% if feed.image %}
      <div class="row pt-4 pb-4">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
          <img src="{{feed.image | raw}}" alt="{{feed.title | raw}}" class="img-fluid post-image" />
        </div>
        <div class="col-12 col-sm-8 col-md-8 col-lg-7">
          <div class="second">
            <h6 class="purple"><b>{{feed.date | raw}}</b></h6>
            <a href="{{feed.link}}">
              <h3><b>{{feed.title | raw}}</b></h3>
            </a>
            <p>{{feed.desc | raw}}</p>
          </div>
        </div>
      </div>

      {% else %}
      <div class="row pt-4 pb-4">
        <div class="col-12 col-sm-11 col-md-11 col-lg-10">
          <div class="second">
            <h6 class="purple"><b>{{feed.date | raw}}</b></h6>
            <a href="{{feed.link}}">
              <h3><b>{{feed.title | raw}}</b></h3>
            </a>
            <p>{{feed.desc | raw}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      
     {% else %}
      <div class="row">
        <div class="no-post-alert mx-auto my-4">
            <p class="text-grey">
                You have no published posts yet. Click <a href="/timeline" style="color:#280A66;"><span class="badge badge-info">here</span></a> to start publishing.
            </p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  <!-- Feed section ends here -->
</div>
</div>
</div>
</div>
{% endblock page_content %}
