{% set title = "Portfolio"%} {% extends 'layout.html' %} {% block page_content %}

<div class="">
        <div class="portfolio-container">
            <div class="add-portfolio-btn">
                <a class="btn" style="background-color:#871E99; color:#fff" href="/new-portfolio" role="button">+ ADD PORTFOLIO</a>
            </div>
            <div class="d-grid">

                <!-- Portfolio card 1 -->
                {%  for portfolio in portf %}

            <div class="portfolio-card">
                    <img src="{{ portfolio.preview_img }}" class="portfolio-img" alt="the-image-for-portfolios">
                        <div class="d-flx j-c-sb al-i-c">
                            <h5 class="portfolio-name"><a href="/portfolio/{{ portfolio.slug |lower }}">{{ portfolio.title|raw  }}</a></h5>
                            <div>
                                <a href="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M296 136c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0 240c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0-120c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40z"/></svg>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="">EDIT</a>
                                    <a class="dropdown-item" href="">DELETE</a>  
                                </div>
                            </div>
                        </div>
                    <p>
                            {{ portfolio.body|raw  }}
                        </p>
                </div>

                {% endfor %}

            </div>                
        </div>
        {% endblock page_content %}




























