{% set title = "Timeline"%} {% extends 'layout.html' %} {% block page_content %}
      <!-- Page Content section -->
      <div id="content">
        <!-- editor -->
        <div class="row">
          <div class="col-12">
            <!-- <div id="editor"></div> -->
         <!-- The editor code goes here -->
         <div id="form-container">
          <form method="POST" class="timeline-editor" id="editor-form">
            <!-- Quill editor code goes here -->
            <div class="row">
              <div class="col-12">
                <div class="row form-group">
                  <div class="col-12 py-3">
                    <label for="new-post-title" class="sr-only">Title</label>
                    <input
                      type="text"
                      name="title"
                      id="new-post-title"
                      class="form-control"
                      placeholder="Title"
                      required
                    />
                  </div>
                  <div class="col-12 py-3">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
					  <label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option1" autocomplete="off" checked> Politics
					  </label>
					  <label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option2" autocomplete="off"> Sports
					  </label>
					  <label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option2" autocomplete="off"> Health
					  </label>
					  <label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option2" autocomplete="off"> Technology
					  </label>
					  <label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option2" autocomplete="off"> News/Lifestyle
					  </label>
					  <label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option2" autocomplete="off"> Movies
					  </label>
					  <label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option2" autocomplete="off"> Music
					  </label>
					  <label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option2" autocomplete="off"> Fitness
					  </label>
					  <label class="btn btn-outline-primary">
						<input type="radio" name="options" id="option2" autocomplete="off"> Culture
					  </label>
					</div>
                  </div>
                  <div class="col-12"><div id="editor"></div></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex flex-row-reverse">
                <input
                  type="submit"
                  class="btn btn-primary publish-post"
                  value="Publish"
                />
                <input
                  type="button"
                  class="btn btn-primary save-draft"
                  value="Save Draft"
                />
                <input
                  type="reset"
                  class="btn btn-primary canel-post"
                  value="Cancel"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

        <!-- Feed listing -->
        {% for key, feed in posts %}
        <div class="row pt-4 pb-4">
          <div class="col-12">
            <div class="row pt-4 pb-4">
              <div class="col-2 col-sm-2 text-right">
                <img src="{{feed.img | raw}}" alt="ziki logo" class=" blogger-image" />
              </div>
              <div class="col-9 col-sm-9">
                <div class="row second">
                  <div class="col-12">
                    <h6 class="purple"><b>{{feed.date | raw}}</b></h6>
                    <a href="{{feed.link}}">
                        <h3><b>{{feed.title | raw}}</b></h3>
                    </a>
                    <p>{{feed.desc | raw}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">{{feed.site | raw}}</div>
                  <div class="col-6 text-right">Comment</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- Feed section ends here -->
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}
