{% set domain = "ziki.hng.tech" %}

<style>
	.card {
		border-radius: 5px;
	}

	.card-top {
		background: #280a66;
	}
	
	.card-body .unfollow-btn {
		cursor: pointer;
	}
  
</style>

<!-- Subscribe Here Modal -->
<div
  class="modal fade"
  id="unfollow"
  tabindex="-1"
  role="dialog"
  aria-labelledby="unfollow-label"
  aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="card">
		  <div class="card-top">
			<img class="card-img-top float-right mx-auto" src="/images/pathToYourImage.png" alt="Logo">
		  </div>
		  <div class="card-body"> Are you sure you want to unfollow? </div>
		  <button type="button" class="btn btn-link justify-content-center unfollow-btn">Yes</button>
		</div>
	</div>
</div>