.top-section {
    margin-top: 3rem;
    margin-bottom: 2rem;
    background: #FFF;
}

.nav-link, .footer-link {
    margin-right: 3em;
    color: rgba(0, 0, 0, 0.8);
}

.button-link {
    background: linear-gradient(252.63deg, #000000 -4.19%, #280A66 100%);
    color: #FFF;
    padding: 1em;
    font-weight: 600;
}

.navbar-nav > li {
    margin-top: 1.5rem;
}

.navbar-nav > li:last-of-type {
    margin-top: 0;
}

.banner-text-container {
    margin-top: 12rem;
}

.banner-text {
    font-size: 70px;
    line-height: 67px;
    font-weight: 200;
    margin-bottom: 0.4em;
}

.features-section {
    background: linear-gradient(180deg, #FBFAFE 0%, #FFFFFF 100%);
    border-bottom: 2px solid #F1F5FD;
}

.features-section-heading {
    text-align: center;
    margin-top: 1em;
    font-size: 40px;
    line-height: 53px;
    font-weight: 200;
}

.features-section-content-container {
    padding-right: 11em;
    padding-left: 2em;
}

.features-section-content-container > h1 {
    font-size: 1.6em;
}

.features-section-content-container:first-of-type {
    border-left: 2px solid #000;
}

.features-section-content-container > p:first-of-type {
    font-weight: 400;
    color: #280A66;
}

.features-section-content-container > p {
    font-size: 1.45rem;
    font-weight: 100;
}

.testimonial-section {
    background: #FFF;
}

.testimonial-section-heading {
    text-align: center;
    margin-top: 1em;
    font-size: 40px;
    line-height: 53px;
    font-weight: 200;
}

.testimonial-container {
    background: #FFF;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.06);
    margin-bottom: 2rem;
    height: 400px;
}


.testimonial-container > p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 100;
    padding: 1em;
    min-height: 200px;
}


.profile-info {
    display: flex;
    padding: 1em;
}

.profile-details {
    display: flex;
    flex-direction: column;
    /* padding-left: 2em; */
    padding-top: 2em;
}

.profile-details > p:first-of-type {
    font-size: 18px;
    /* line-height: 0.1rem; */
    font-weight: 500;
}

.profile-pic {
    height: 140px;
    border-radius: 50%;
    margin-bottom: 15px;
    max-width: 140px;
}

.testimonial {
    margin-bottom: 7rem;
}

.download-section {
    background: #F1F5FD;
    padding-bottom: 2em;
}

.download-section-heading {
    text-align: center;
    margin-top: 1em;
    font-size: 40px;
    line-height: 53px;
    font-weight: 200;
}
.download-section button {
    margin-bottom: 3em;
    margin-top: 2em;
    padding: 1em 2em;
}

.footer-logo {
    margin-bottom: 2em;
}

.footer-button {
    background: #280A66;
    border: 1px solid #280A66;
    color: #FFF;
    width: 30%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.footer-input {
    width: 200px;
}

.footer-input::-webkit-input-placeholder {
    font-size: 14px;
}

.footer-input::-moz-placeholder {
    font-size: 14px;
}

.footer-input:-ms-input-placeholder {
    font-size: 14px;
}

.footer-input::placeholder {
    font-size: 14px;
}

.footer-bottom {
    padding: 1rem;
}

.footer-links {
    padding-top: 0.4rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;

}

/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 5s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 5s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 5s infinite ease-in-out; /* IE */
    animation: blink normal 5s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.navbar-brand {
    color: #000;
}

/* Extra small devices (<767px) */
@media screen and (max-width: 767px) {
    .footer-form {
      justify-content: center !important;
      margin-top: 2rem;
    }
    .banner-text-container {
        margin-top: 5rem;
        text-align: center;
    }
    .banner-text {
        font-size: 40px;
        line-height: 45px;
    }
    .features-section-content-container {
        padding-right: 1em;
        padding-left: 1em;
    }
    .footer-section {
        text-align: center;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
    .footer-link {
        margin-right: 0
    }
    .footer-bottom {
        padding: 0
    }
    .download-section-heading {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 2rem;
    }
    .download-section-content {
        text-align: center;
    }
}

/* Small Devices (≥768px) */
@media screen and (min-width: 768px) {
    .banner-text-container {
        margin-top: 5rem;
        text-align: center;
    }
    .banner-text {
        /* font-size: 40px;
        line-height: 45px; */
        font-size: 70px;
        line-height: 67px;
    }
    .features-section-content-container {
        padding-right: 1em;
        padding-left: 1em;
    }
    .testimonial-container {
        height: auto;
    }
    .testimonial-container > p {
        min-height: auto;
        padding: 2em;
    }
    .profile-info {
        padding: 2em;
    }
    .footer-section {
        text-align: center;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
    .footer-link {
        margin-right: 0
    }
    .footer-bottom {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .footer-form {
        justify-content: center !important;
        margin-top: 2rem;
    }
}

/* Medium Devices (≥992px) */
@media screen and (min-width: 992px) {
  
}

/* Medium Devices (≥1200px) */
@media screen and (min-width: 1200px) {
  
}